@page
@model OdeToFood.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-secondary">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn bt-lg"
                   asp-page="./Detail" asp-route-id="@restaurant.RestaurantId">
                    <i class="fa fa-search-plus"></i>
                </a>
                <a class="btn bt-lg"
                   asp-page="./Edit" asp-route-id="@restaurant.RestaurantId">
                    <i class="fa fa-pencil-alt"></i>
                </a>
                <a class="btn bt-lg"
                   asp-page="./Delete" asp-route-id="@restaurant.RestaurantId">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary mb-4">New</a>

<div>@Model.Message</div>